* {
  margin: 0;
}
h1 {
  font-size: 5rem;
}
.encabezadoPrincipal {
  background-color: #fdd86e;
  color: #429398;
}
a {
  text-decoration: none;
}
nav ul {
  list-style-type: none;
}
footer {
  background-color: #cad5ad;
  color: #54343f;
  font-size: 1.5rem;
}
body {
  background-color: #f6a570;
}
